body {
	background: url(../img/randomNameBackground.png) no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.demo {
	width: 50%;
	margin-left: 25%;
	text-align: center;
	margin-top: 200px;
}

.title {
	font: normal bold 30px "微软雅黑";
	margin-bottom: 150px;
}

.name {
	font-size: 50px;
	padding-bottom: 150px;
	margin-top: 100px;
}

.option input {
	width: 100px;
	height: 40px;
	font-size: 16px;
	margin-left: 20px;
}

.btn {
	margin-top: 20px;
	padding: 10px 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	cursor: pointer;
	color: #fff;
	font-size: 1.1em;
	background-color: rgb(1, 216, 103);
	transition: all 1s linear;
	border-radius: 20px;
}

.btn:hover {
	background-color: #D84C29;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}